@import "../../style.scss";

.rightBar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bgSoft");

    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    padding-top: 18px;

    .container {
      .item {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        padding: 20px;
        margin-bottom: 20px;
        background-color: themed("bg");
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        .title {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #808080ad;
          padding-bottom: 12px;
          color: #121212de;
          .tools {
            color: #957f7fd6;
            div:nth-child(1) {
              margin-right: 6px;
            }
          }
          span:nth-child(2) {
            color: #5271ff;
            cursor: pointer;
          }
        }

        .listUsers {
          min-height: fit-content;
          .loading,
          .notFound {
            margin: 0 auto;
            padding-top: 20px;
          }
          .notFound {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #a7a2a2c1;
          }
        }
        .user {
          display: flex;
          align-items: center;
          margin: 20px 0px;

          .userImage {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .userInfo {
            width: 100%;
            padding-left: 20px;
            p {
              color: themed("textColorSoft");
            }

            span {
              font-weight: 500;
              color: themed("textColor");
            }
          }

          .buttons {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 7px;

            button {
              border: none;
              border-radius: 5px;
              width: 50%;
              padding: 5px;
              color: white;
              cursor: pointer;

              &:first-child {
                background-color: #5271ff;
              }

              &:last-child {
                background-color: #696969;
              }
            }
          }

          .online {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: limegreen;
            position: absolute;
            top: 30px;
            left: 30px;
          }
        }
      }
    }
  }
}
